#DIV_1 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 534px;
    width: 1170px;
    perspective-origin: 585px 267px;
    transform-origin: 585px 267px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    margin: 0px 89.5px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 15px;
}/*#DIV_1*/

#DIV_1:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 534px;
    width: 1170px;
    perspective-origin: 585px 267px;
    transform-origin: 585px 267px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    margin: 0px -15px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 534px;
    width: 1170px;
    perspective-origin: 585px 267px;
    transform-origin: 585px 267px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 30px;
    width: 1170px;
    perspective-origin: 585px 15px;
    transform-origin: 585px 15px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 15px;
}/*#DIV_4*/

#DIV_4:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_4:before*/

#DIV_5, #DIV_6 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    text-align: center;
    width: 1140px;
    perspective-origin: 570px 0px;
    transform-origin: 570px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_5, #DIV_6*/

#H4_7 {
    box-sizing: border-box;
    text-align: center;
    width: 1140px;
    perspective-origin: 570px 0px;
    transform-origin: 570px 0px;
    font: normal normal 500 normal 25.2px / 27.72px Montserrat, sans-serif;
    margin: 0px 0px 30px;
}/*#H4_7*/

#P_8, #P_48 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    opacity: 0.8;
    text-align: center;
    width: 1140px;
    z-index: 0;
    perspective-origin: 570px 0px;
    transform-origin: 570px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal 200 normal 16.8px / 23.52px 'Open Sans', sans-serif;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_8, #P_48*/

#UL_9 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    width: 1170px;
    perspective-origin: 585px 0px;
    transform-origin: 585px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px;
}/*#UL_9*/

#LI_10, #LI_21, #LI_32 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    display: block;
    float: left;
    height: 430px;
    position: relative;
    width: 389.594px;
    perspective-origin: 194.797px 215px;
    transform-origin: 194.797px 215px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#LI_10, #LI_21, #LI_32*/

#DIV_11, #DIV_22, #DIV_33 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 430px;
    text-align: left;
    width: 389.594px;
    perspective-origin: 194.797px 215px;
    transform-origin: 194.797px 215px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 19.4688px 40px;
}/*#DIV_11, #DIV_22, #DIV_33*/

#DIV_12, #DIV_23, #DIV_34 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 240px;
    text-align: left;
    width: 350.656px;
    perspective-origin: 175.328px 120px;
    transform-origin: 175.328px 120px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 0px 21px;
}/*#DIV_12, #DIV_23, #DIV_34*/

#A_13, #A_24, #A_35 {
    box-sizing: border-box;
    color: rgb(170, 170, 170);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(170, 170, 170);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(170, 170, 170) none 0px;
    transition: all 0.5s ease 0s;
}/*#A_13, #A_24, #A_35*/

#IMG_14, #IMG_25, #IMG_36 {
    box-sizing: border-box;
    color: rgb(170, 170, 170);
    display: inline-block;
    height: 219.281px;
    max-width: 100%;
    text-align: left;
    vertical-align: middle;
    width: 350.656px;
    perspective-origin: 175.328px 109.641px;
    transform-origin: 175.328px 109.641px;
    border: 0px none rgb(170, 170, 170);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    list-style: none outside none;
    outline: rgb(170, 170, 170) none 0px;
}/*#IMG_14, #IMG_25, #IMG_36*/

#H5_15, #H5_26, #H5_37 {
    box-sizing: border-box;
    height: 39px;
    text-align: center;
    text-transform: uppercase;
    width: 350.656px;
    perspective-origin: 175.328px 19.5px;
    transform-origin: 175.328px 19.5px;
    border-bottom: 1px solid rgb(238, 238, 238);
    font: normal normal 500 normal 17px / 18.7px Montserrat, sans-serif;
    list-style: none outside none;
    margin: 10px 0px;
    padding: 10px;
}/*#H5_15, #H5_26, #H5_37*/

#UL_16, #UL_27, #UL_38 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 91px;
    text-align: left;
    width: 350.656px;
    perspective-origin: 175.328px 45.5px;
    transform-origin: 175.328px 45.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 16px / 22.8571px 'Open Sans', sans-serif;
    list-style: circle outside none;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#UL_16, #UL_27, #UL_38*/

#LI_17, #LI_18, #LI_28, #LI_30, #LI_39, #LI_41 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 22px;
    width: 310.656px;
    perspective-origin: 155.328px 11px;
    transform-origin: 155.328px 11px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 16px / 22.8571px 'Open Sans', sans-serif;
    list-style: circle outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#LI_17, #LI_18, #LI_28, #LI_30, #LI_39, #LI_41*/

#LI_19, #LI_29, #LI_40 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 22px;
    width: 310.656px;
    perspective-origin: 155.328px 11px;
    transform-origin: 155.328px 11px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 16px / 22.8571px 'Open Sans', sans-serif;
    list-style: circle outside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#LI_19, #LI_29, #LI_40*/

#P_20, #P_31 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 25px;
    text-align: left;
    width: 310.656px;
    perspective-origin: 155.328px 12.5px;
    transform-origin: 155.328px 12.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 16px / 25.6px 'Open Sans', sans-serif;
    list-style: circle outside none;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_20, #P_31*/

#P_42 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 25px;
    text-align: left;
    width: 310.656px;
    perspective-origin: 155.328px 12.5px;
    transform-origin: 155.328px 12.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 16px / 25.6px 'Open Sans', sans-serif;
    list-style: circle outside none;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#P_42*/

#DIV_43 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 504px;
    width: 1170px;
    perspective-origin: 585px 252px;
    transform-origin: 585px 252px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 15px;
}/*#DIV_43*/

#DIV_43:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_43:after*/

#DIV_43:before {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    content: '"' '"';
    display: table;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_43:before*/

#DIV_44, #DIV_45 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    height: 474px;
    text-align: center;
    width: 1140px;
    perspective-origin: 570px 237px;
    transform-origin: 570px 237px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal normal 14px / 20px 'Open Sans', sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_44, #DIV_45*/

#H4_46 {
    box-sizing: border-box;
    height: 474px;
    text-align: center;
    width: 1140px;
    perspective-origin: 570px 237px;
    transform-origin: 570px 237px;
    font: normal normal 500 normal 25.2px / 27.72px Montserrat, sans-serif;
    margin: 0px 0px 30px;
}/*#H4_46*/

#A_47 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 44px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 236.594px;
    perspective-origin: 118.297px 22px;
    transform-origin: 118.297px 22px;
    background: rgb(0, 214, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(0, 214, 0);
    border-radius: 40px 40px 40px 40px;
    font: normal normal normal normal 14px / 20px Montserrat, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 40px;
    transition: all 0.5s ease 0s;
}/*#A_47*/

